<h1>Catalogo Prodotti</h1>
<input type="text" placeholder="Codice" [(ngModel)]="prodotto.codice">
<input type="text" placeholder="Descrizione" [(ngModel)]="prodotto.descrizione">
<input type="text" placeholder="Prezzo" [(ngModel)]="prodotto.prezzo">

<button (click)="aggiungi()"> 
  Aggiungi Prodotto 
</button>
<button (click)="rimuovi()">
  Rimuovi Prodotto
</button>
<button (click)="mostra()">
  Mostra Prodotto
</button>

<input type="text" placeholder="Ricerca" [(ngModel)]="ricerca">
<button (click) ="cerca()">
  Cerca
</button>
<table >
  <th>Codice</th>
  <th>Descrizione</th>
  <th>Prezzo</th>
  <tr *ngFor="let p of prodotti">
    <td>{{p.codice}}</td>
    <td>{{p.descrizione}}</td>
    <td>{{p.prezzo}}</td>
  </tr>
</table>