<h1>Catalogo Prodotti</h1>
<hr>
<h3>Inserisci prodotto</h3>
<input type="number" placeholder="Codice" [(ngModel)]="prodotto.codice">
<input type="text" placeholder="Descrizione" [(ngModel)]="prodotto.descrizione">
<input type="number" placeholder="Prezzo" [(ngModel)]="prodotto.prezzo">

<button (click)="aggiungi()">
  Aggiungi Prodotto
</button>
<br>
<hr>
<h3>Ricerca prodotto</h3>
<input type="number" placeholder="Ricerca per codice" [(ngModel)]="ricerca.codice">
<input type="text" placeholder="Ricerca per descrizione" [(ngModel)]="ricerca.descrizione">
<button (click)="cerca()">
  Cerca
</button>
<hr>
<h3>Prodotti</h3>
<table>
  <th>Codice</th>
  <th>Descrizione</th>
  <th>Prezzo</th>
  <tr *ngFor="let p of prodotti">
    <td>{{p.codice}}</td>
    <td>{{p.descrizione}}</td>
    <td>{{p.prezzo}}</td>
    <button id="elimina" (click)="rimuovi(p)">X</button>
  </tr>
</table>